 
# Ignore Python virtual environments
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment variables and credentials
.env
config.py
instance/
firebase-adminsdk.json
frontend/src/firebaseConfig.js
backend/firebase/firebase_credentials.json


# Ignore logs
*.log
logs/
debug.log

# Ignore Python dependency files
pip-log.txt
pip-delete-this-directory.txt

# Ignore Flask cache files
.cache/
.mypy_cache/
.pytest_cache/

# Ignore database files
*.sqlite3
db.sqlite3

# Ignore node_modules and build files
frontend/node_modules/
frontend/build/

# Ignore tracking of images
backend/models/known_faces/

# Ignore editor and OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

